html,
body,
#app {
  margin: 0;
  padding: 0;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-indigo-600 text-white cursor-pointer
    hover:bg-indigo-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-indigo-600;
  font-size: 0.9em;
}

.input {
  @apply w-full px-4 py-2 mt-2 text-gray-700
    bg-white border border-gray-300 rounded
    focus:border-indigo-600 focus:outline-none focus:shadow-outline;
}

.text-area {
  @apply px-1 border mt-1 rounded focus:border-indigo-600 focus:outline-none focus:shadow-outline
}
